/*
| Styles.css
|   For LongForm
|
| Contents
|
| 1. Containers
| 2. Components
| 3. Forms
| 4. Animations
| 5. Utilities
|
\*                                    */




/*---------------------------------*\
|                                  |
| Cat: Containers                  |
\*---------------------------------*/


html, body { margin:0; }

body {
  background: #ffffff;
  color: #868686;
  font-family: sans-serif;
}


.center-word {
  width:100%;
  margin-top:30vh;
  position: fixed;
  color: #f7a744;
  text-align: center;
  font-size:10rem;
}

.write {
  display:block;
  padding: 15px 30px;
  padding-bottom:120px;
  padding-bottom:70vh;
  text-align: justify;
}

  .write__history, .write__safe {
    display:inline;
    font-size: 2rem;
  }

  .write__safe {
    color: #868686;
  }

  .write__history {
    color: #d68a00;
  }





/*---------------------------------*\
|                                  |
| Cat: Components                  |
\*---------------------------------*/


.progress-bar { 
  width:100%;
  height:10px;
  position: fixed;

  background:rgba(255, 255, 255, 0.3);
}

  .progress-bar__inner {
    height:100%;
    width:0%;
    background: rgba(0, 0, 0, 0.1);

    transition:width 1s;
  }


.menu-bar { 
  display: block !important;
}

  ul.menu-bar {
    padding: 0;
  }

  .menu-bar > img { 
    vertical-align: middle;
    margin-right: 15px;
  }

  ul.menu-bar > li {
    list-style-type: none;
  }

  .menu-bar > .button {
    margin-left: -4.4px;
  }


/*  A large rounded button for UI actions */
.button {
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.5);
  padding:15px;
  display: inline-block;

  color: #aaaaaa;
  font-weight: bold;
  text-decoration: none;

  animation-name: slide-in--down;
  animation-duration: 1s;

  cursor: pointer;
}

  .button:hover {
    color: #eeeeee;
    background: rgba(0, 0, 0, 0.8);
  }

  .button > input.input {
    color: #aaaaaa;
  }

  .button--left { border-bottom-right-radius: 0; border-top-right-radius: 0; }
  .button--right { border-bottom-left-radius: 0; border-top-left-radius: 0; }
  .button--center { border-radius: 0; }

img.clickable {
  opacity: 0.8;
}

  img.clickable:hover {
    opacity: 1;
  }

.download-button {
  display: inline-block;
}

.title-input { 
  display: inline-block; 
}


/*  A popup that appears in the center of the screen,
 |  must be in a popup__container */
.popup {
  margin: 25px auto;
  max-width: 650px;
  padding:25px;

  text-align: center;
  z-index: -10;
}

  .popup__container { 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .popup--box {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    color: #ededed;
  }

    .popup--box h1, .popup--box h2, .popup--box h3 {
      color: white;
    }

    .popup--box .button {
      color: white;
    }

    .popup--box .button:hover {
      background: gray;
    }

    .popup--box .button.selected {
      color: black;
      background: white;
    }






/*---------------------------------*\
|                                  |
| Cat: Forms                       |
\*---------------------------------*/

input.input {
  border:none;
  border-bottom: thin solid black;
  font-size: 1rem;

  background: none;
}

  input.input:focus {
    outline:none;
  }





/*---------------------------------*\
|                                  |
| Cat: Animations                  |
\*---------------------------------*/

@keyframes slide-in--down {
  from { bottom: 100px; opacity: 0; }
  to { bottom: 25px; opacity: 1; }
}

@keyframes fade-out {
  from { opacity: 1; display: relative; }
  to { opacity: 0; display:none; }
}

@keyframes fade-in {
  0% { opacity: 0; display:none; }
  1% { opacity: 0; display:block; }
  100% { opacity: 1; display:relative; }
}








/*---------------------------------*\
|                                  |
| Cat: Utilities                   |
\*---------------------------------*/

.u-hidden {
  display: none;
}

.u-fix-bot-right {
  position: fixed;
  right: 25px;
  bottom: 25px;
}

















